@import url('http://fonts.cdnfonts.com/css/georgia');

@font-face {
  font-family: Linux-Libertine;
  src:url("LinLibertine_R.ttf");
}

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.Logo {
  color: #5851A2;
  font-family: 'Times New Roman', Times, serif;
  font-size: 42px;
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* .LogoIm {
  justify-content: left;
} */

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #ffffff;
  font-family: Linux-Libertine, Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.title {
  margin-bottom: 0;
  font-size: calc(28px + 1.5vmin);
}
 
.subtitle {
  font-weight: normal;
  font-size: calc(12px + 0.5vmin);
}

.article-container {
  margin: 1% 15% 0% 15%;
  min-height: 400px;
  max-height: 450px;
  overflow-y: auto;
}

.article {
  padding: 5px 20px 0px 20px;
  background-color: rgb(242, 242, 242);
  text-align: left;
  justify-content: left;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.ins {
  /* background-color: rgb(242, 242, 242); */
  margin: 2% 27% 0% 27%;
  text-align:center;
  color: black;
}

/* h1, h2, h3, h4, p {
  padding-top: 0;
  padding-bottom: 20;
  margin:0;
} 
*/

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  width: 50%;
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.button1, .button2 {
  vertical-align: top;
  display: inline-block;

  transition: all .15s;
  letter-spacing: -.8px;
  line-height: 24px;

  width: 200px;

  /* outline: 0; */
  border: 2px solid black;
  box-sizing: border-box;

  /* margin:1em; */
  font-size: 22px;
  font-weight: 600;
  height: 55px;
}

.button1 {
  background-color: white;
  color: black;
}

.button2 {
  background-color: black;
  color: white;
}

.button1:hover, .button2:hover {
  font-weight: 900;
  letter-spacing: 0px;
}

.button1:active, .button2:active {
  color: #06f;
}

.left-wrapper {
  /* padding: 10px 20px 10px 20px; */
  margin: 0% 2.5% 0% 0%;

  width: 47.5%;

  text-align: left;

  min-height: 400px;
  max-height: 450px;

  overflow-y: auto;

  /* font-weight: 700;
  font-size: 20px; */

  /* display: inline-block; */
  /* text-align: center; */
}

.all-wrapper {
  /* display: inline-block; */
  /* color: #06f;
  font-weight: 900; */
  margin: 1% 15% 0% 15%;
  /* text-align: left; */

  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.right-wrapper {
  /* padding: 10px 20px 10px 20px; */
  margin: 0% 0% 0% 2.5%;
  width: 47.5%;
  text-align: center;
  min-height: 400px;
  max-height: 450px;

  background-color: rgb(242, 242, 242);
  /* overflow-y: auto; */

  /* font-weight: 700;
  font-size: 20px; */

  display: inline-block;
  /* text-align: center; */
}

.answer-box {
  background-color: rgb(242, 242, 242);
  padding: 10px 20px 10px 20px;
  /* margin: 1% 0% 0% 22.5%; */

  /* width: 100%; */

  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.padded {
  padding: 20px 10px 20px 10px;
  /* margin: 1% 0% 0% 22.5%; */

  /* width: 25%; */

  display: inline-block;
  text-align: left;
  font-size: 14px;
}


.page-container {
  height: 100vh;
  
}
.page-container-head {
  background-color: #5851A2;
  height: 00%;
  overflow: hidden;
}

.page-container-scroll {
  height: 100%;
  overflow-y: scroll;
}

.page-container-guess {
  background-color: #F1F8FF;
  height: 92%;
  overflow: hidden;
}

.page-container-switch {
  background-color: #5851A2;
  height: 8%;
  overflow: hidden;
}

.page-container-switch-button {

}

.page-container-explore {
  height: 92%;
  background-color: #3C386F;
  overflow: hidden;
}