@import url('http://fonts.cdnfonts.com/css/georgia');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Linux-Libertine;
  src:url("LinLibertine_R.ttf");
}


/* Custom Scrollbar --------------------*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Main CSS -------------------- */
body {
/* background-color: black;
color: white; */
}

h1, h2, h3 {

}

p {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: 2% 10% 0 10%;
}

.app {
  margin: 0% 0% 0% 0%;
  text-align: center;
}


/* Header CSS -------------------- */ 
.app-logo {
  pointer-events: none;
}

.logo-header {
  height: 60px;
  padding: 5px;
  /* border-bottom: 2px solid #5851A2; */
  padding: 10px 30px;
}

.logo-header img {
  padding-left: 20px;
  height: 100%;
  float: left;
}

.logo-header h1 {
  display: inline;
  float: left;
  padding-left: 20px;
  color: #5851A2;
  font-weight: normal;
  font-size: 1.5em;
  font-family: Georgia,'Times New Roman', Times, serif;
}

.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-style: italic;
  padding: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 


/* Header CSS --------------------*/
.subtitle {
  font-weight: normal;
  font-size: 1.1em;
  padding: 20px 0;
}

.article-container {
  margin: 1% 10% 1% 10%;
  min-height: 40vh;
  max-height: 55vh;
  /* background-color: rgb(237, 237, 237); */
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.article {
  padding: 5px 20px 0px 20px;
  /* height: 100%; */
  text-align: left;
  justify-content: left;
  /* color: black; */
}

.article p {
  font-size: 1em;
  padding: 10px 0 20px 0;
}

.article h1, .article h2 {
  padding: 10px 0;
  font-family: 'Georgia', sans-serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid rgb(155, 155, 155);
}



.ins {
  margin: 2% 27% 0% 27%;
  text-align:center;
  color: black;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  /* width: 50%; */
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.button1, .button2 {
  vertical-align: top;
  display: inline-block;

  transition: all .15s;
  line-height: 24px;

  background-color: #5851A2;
  color: white;
  width: 200px;

  /* outline: 0; */
  border: none;
  box-sizing: border-box;
  border-radius: 5px;

  /* margin:1em; */
  font-size: 1em;
  font-weight: 500;
  height: 55px;
  font-family: 'Georgia', sans-serif;
}

.button1:hover, .button2:hover {
  font-weight: 900;
  cursor: pointer;
  background: #7e77ce;
}

.button1:active, .button2:active {
  /* color: #F1F8FF; */
}

.right-wrapper {
  /* padding: 10px 20px 10px 20px; */
  margin: 0% 0% 0% 1%;
  width: 60%;
  text-align: left;
  height: 100%;
  overflow-y: hidden;
  /* font-weight: 700;
  font-size: 20px; */

  border: 3px solid #5851A2;
  /* box-sizing: border-box; */
  border-radius: 5px;

  /* display: inline-block; */
  /* text-align: center; */
}

.stats {
  background-color: white;
  height: 100%;
  width: 100%;
}

.chosen-container {
  /* display: inline-block; */
  /* color: #06f;
  font-weight: 900; */
  height: 500px;
  /* text-align: left; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.left-wrapper {
  width: 33%;
  text-align: center;
  height: 100%;
  margin: 0% 1% 0% 0%;

  /* background-color: white; */
  overflow-y: hidden;

  /* font-weight: 700;
  font-size: 20px; */

  display: inline-block;
  /* text-align: center; */
}

.learn-more {
  height: 25%;
  background-color:#5851A2;
  color: white;
  border-radius: 5px;
}

.chosen-article {
  height: 75%;
  background-color: white;
  overflow-y: scroll;
}

.answer-box {
  background-color:#5851A2;
  color: white;
  padding: 20px;
  font-weight: 700;
  font-size: 1em;
  height: 20%;
  text-align: center;
}

.answer-box h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.answer-box h2, .answer-box h3 {
  margin: 0;
  padding: 1px;
  text-align: left;
}

.padded {
  padding: 20px 10px 20px 10px;
  font-style: italic;
  display: inline-block;
  text-align: left;
  font-size: 14px;
}

.page-container {
  height: 100vh;
}

.page-container-head {
  height: 10%;
  /* overflow: hidden; */
}

.page-container-scroll {
  height: 90%;
  overflow-y: scroll;
}

.page-container-guess {
  height: 92%;
  overflow: hidden;
}

.page-container-switch {
  transition: all .15s;
  background-color: #5851A2;
  height: 8%;
  overflow: hidden;
  font-size: 1.2em;
  font-weight: 300;
}

.page-container-switch:hover {
  font-weight: 600;
  cursor: pointer;
  background: #7e77ce;
}

.page-container-switch-button {
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(+45%);
}


.page-container-explore {
  height: 92%;
  /* overflow: hidden; */
}

.page-container-learn {

}

/* Learn Page CSS --------------------*/
.learn-container {

}

.learn-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border: 1px solid black;
  width: 33.5%;
  min-height: 200px;
  margin-bottom: 1.5%;
}

.item h2 {
  padding: 10px;
  margin: 0;
}

.item p {
  padding: 10px;
}

/* .item:nth-child(1), .item:nth-child(2) {
  width: 100%;
} */

.item:nth-child(2),.item:nth-child(3),.item:nth-child(6),.item:nth-child(7) {
  width: 65%;
}



/* Training Page ---------------------------------*/
.blue-highlight {
  background-color: lightblue;
}

.tutorial-one {
  flex-direction: column;
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-flow: column wrap;
}


.article1 {
  /* flex:1;
  order: 1; */
  background-color: lightgray;
  width: calc(100% - 300px);
  flex: 0 0 100%;
}

.article1 p {
  display: block;
}

.box1 {
  order:2;
  background-color: lightblue;
}

.box2 {
  order: 3;
  background-color: lightpink;
}

.box3 {
  order: 4;
  background-color: lightgreen;
}

.box4 {
  order: 5;
  background-color: yellow;
}

.box1,.box2, .box3, .box4 {
  width: 200px;
  flex: 25%;
}