@import url("http://fonts.cdnfonts.com/css/georgia");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Linux-Libertine;
  src: url("LinLibertine_R.ttf");
}

/*////////////////////////////////
-------CUSTOM-SCROLLBAR-----------
////////////////////////////////*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*////////////////////////////////
------------MAIN-CSS--------------
////////////////////////////////*/
h1,
h2,
h3 {
  font-family: Montserrat;
}

p {
  padding: 0;
  margin: 0;
  text-align: justify;
}

.wrapper {
  width: 80%;
  margin: 2% 10% 0 10%;
}

.app {
  margin: 0% 0% 0% 0%;
  text-align: center;
}

/*////////////////////////////////
------------HEADER-CSS------------
////////////////////////////////*/

/*////////////////////////////////
------------HEADER-CSS------------
////////////////////////////////*/
.subtitle {
  font-weight: lighter;
  font-family: Montserrat;
  font-style: italic;
  font-size: 0.9em;
  padding: 25px 0;
  display: grid;
  place-items: center;
}

.article-container {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  /* min-height: 40vh; */
  width: 80%;
  height: 60vh;
  /* background-color: rgb(237, 237, 237); */
  border: 1px solid #c0c0c0;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: all 1s;
  transition-delay: revert 2s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

  /*, 0 6px 20px 0 rgba(0, 0, 0, 0.3) */
}

.article-container:hover {
  box-shadow: 0 4px 12px 1px rgba(0, 0, 0, 0.1);
  /* margin: 0px 20% 50px 20%; */
  /* width: 62%; 
  height: 52vh; */
}

.article-container::-webkit-scrollbar {
  display: none;
}

.article {
  padding: 5px 20px 5px 20px;
  /* height: 100%; */
  text-align: left;
  justify-content: left;
  /* color: black; */
}

.article p {
  font-size: 1em;
  padding: 10px 0 20px 0;
}

.article h1,
.article h2 {
  padding: 10px 0;
  font-family: "Georgia", sans-serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.ins {
  /* margin: 30px 30% 0% 30%; */
  margin: auto;
  margin-top: 5px;
  width: 80%;
  /* text-align:center; */
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.app-link {
  color: #61dafb;
}

.button-container {
  width: 200px;
  margin: 0px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.button1,
.button2 {
  vertical-align: top;
  display: inline-block;

  transition: all 0.5s;
  /* transition-delay: box-shadow 2s; */

  line-height: 24px;

  background-color: #5851a2;
  color: white;
  width: 100%;

  /* outline: 0; */
  border: none;
  box-sizing: border-box;
  border-radius: 2px;

  /* margin:1em; */
  font-size: 1em;
  font-weight: bold;
  height: 55px;
  font-family: Montserrat;

  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.button1:hover,
.button2:hover {
  font-weight: 1000;
  cursor: pointer;
  /* background: white; */
  background: #7e77ce;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
}

.right-wrapper {
  grid-area: r;
  box-sizing: content-box;

  /* margin: 0% 0% 0% 1%;
  width: 60%;
  text-align: left;
  height: 100%;
  overflow-y: hidden;
  
  border: 3px solid #5851A2;
  border-radius: 5px; */

  /* padding: 10px 20px 10px 20px; */
  /* font-weight: 700;
  font-size: 20px; */
  /* box-sizing: border-box; */
  /* display: inline-block; */
  /* text-align: center; */
}

.stats {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #5851a2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
}

.chosen-container {
  /* display: inline-block; */
  /* color: #06f;
  font-weight: 900; */
  height: 500px;
  /* overflow: hidden; */

  width: 80%;
  margin: auto;

  display: grid;
  gap: 2rem;
  grid-template-areas:
    "t t"
    "l r";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px 100%;
  /* flex-direction: row; */
  /* justify-content: center; */
}

.left-wrapper {
  grid-area: l;

  display: flex;
  flex-direction: column;

  height: 100%;

  /* width: 33%;
  text-align: center;
  height: 100%;
  margin: 0% 1% 0% 0%;
  
  overflow-y: hidden;
  display: inline-block; */

  /* background-color: white; */

  /* font-weight: 700;
  font-size: 20px; */

  /* text-align: center; */
}

.learn-more {
  font-weight: 550;
  font-style: italic;
  font-family: Montserrat;
  padding: 20px;
  text-align: left;
  /* height: 25%; */
  /* background-color:#5851A2;
  color: white; */
  /* border-radius: 5px; */
}

.chosen-article {
  /* margin: 0px 20% 50px 20%; */
  /* min-height: 40vh; */
  max-height: 100%;
  border-radius: 4px;

  /* width: 60%; */
  /* height: 55vh; */
  /* background-color: rgb(237, 237, 237); */
  border: 1px solid #c0c0c0;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: all 1s;
  transition-delay: revert 2s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.chosen-article::-webkit-scrollbar {
  display: none;
}

.answer-box {
  grid-area: t;

  color: white;
  /* background-color: #5851A2; */

  border-radius: 4px;

  /* padding: 20px; */
  font-weight: 700;
  font-size: 1em;
  font-family: Montserrat;
  text-align: center;

  display: flex;
  flex-direction: row;
}

.correct {
  background-color: #006600;
  outline: 2px solid #006600;
}

.incorrect {
  background-color: #a10000;
  outline: 2px solid #a10000;
}

.answer-box h2 {
  text-transform: uppercase;
  padding: 20px 40px;
  /* border-radius: 0; */
  font-size: 2em;
}

.answer-box h3 {
  background-color: white;
  border-radius: 0px 3px 3px 0px;
  /* padding: 2px;
  background-clip: content-box; */
  /* margin: 4px; */
  color: black;
  width: 100%;
}

.answer-box h2,
.answer-box h3 {
  border: none;
  margin: 0;
  display: grid;
  place-items: center;
}

.padded {
  padding: 20px 10px 20px 10px;
  font-style: italic;
  display: inline-block;
  text-align: left;
  font-size: 14px;
}

.page-container-content {
  height: 100%;
}

.page-container-guess {
  height: 100%;
  overflow: hidden;
}

.page-container-switch {
  transition: all 0.15s;
  background-color: #5851a2;
  height: 8%;
  overflow: hidden;
  font-size: 1.2em;
  font-weight: 300;
}

.page-container-switch:hover {
  font-weight: 600;
  cursor: pointer;
  background: #7e77ce;
}

.page-container-switch-button {
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(+45%);
}

.page-container-explore {
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*////////////////////////////////
------------LEARN-PAGE------------
////////////////////////////////*/
.explore-grid {
  height: 80%;

  width: 80%;
  margin: auto;
  margin-top: 0;

  display: grid;
  gap: 2rem;
  grid-template-areas:
    "t g c"
    "a a a";
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 80px;
}

.explore-search-bar {
  grid-area: t;
  width: 100%;
  height: 50px;

  padding: 20px;

  line-height: 24px;

  background: white;
  border: black;

  border: solid 1px #c0c0c0;
  box-sizing: border-box;
  border-radius: 2px;

  font-size: 1em;
  font-weight: bold;
  font-family: Montserrat;
}

.explore-gen-button {
  grid-area: g;
  background: #5851a2;
  color: white;
}

.explore-item {
  width: 100%;
  height: 50px;

  transition: all 0.05s;
  border: solid #c0c0c0 0px;
  border-radius: 2px;

  font-size: 1em;
  font-weight: bold;
  font-family: Montserrat;
}

.explore-clear-button:hover {
  border: solid #c0c0c0 1px;
}

.explore-clear-button {
  grid-area: c;
  color: #5851a2;
  background: white;
}

.explore-article {
  grid-area: a;
  height: 100%;
  /* overflow-y: scroll; */
}

.learn-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.learn-item {
  width: 33.5%;
  min-height: 100px;
  margin-bottom: 1.5%;
}

.learn-item h2 {
  padding: 10px;
  margin: 0;
}

.learn-item p {
  padding: 10px;
}

.learn-item:nth-child(2),
.learn-item:nth-child(3),
.learn-item:nth-child(6),
.learn-item:nth-child(7) {
  width: 65%;
}

.learn-img {
  display: flex;
  align-items: center;
}

.learn-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.intro {
  margin: 0 0 30px 0;
}

.intro p {
  font-size: 1.1em;
}

.intro .tutorial-guess {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro .tutorial-guess-left {
  padding: 10px 30px;
  color: white;
}

.intro .tutorial-guess-right {
  padding: 10px 30px;
}

.tut-correct {
  outline: 2px solid #006600;
  border-radius: 5px;
}

/*////////////////////////////////
----------TUTORIAL-PAGES----------
////////////////////////////////*/
.tute {
  width: 70%;
  height: 90%;
  background: white;
  display: grid;
  grid-template-areas:
    "x d e"
    "c c c";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  overflow: hidden;
}

.tute-dots {
  grid-area: d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tute-exit {
  grid-area: e;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
}

.tute-content {
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tutorial-main {
  display: flex;
  flex-wrap: wrap;
}

.tutorial-item-left {
  background-color: #f1f1f1;
  flex: 75%;
}

.box-article {
  margin: 5px;
}

.box-article h2 {
  padding: 20px 0 5px 0;
  font-family: "Georgia", sans-serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.box-article p {
  padding-top: 5px;
}

.tutorial-item-right {
  flex: 25%;
}

.box {
  padding: 10px;
  margin: 0 0 20px 20px;
}

.blue-highlight {
  background-color: lightblue;
}

.pink-highlight {
  background-color: #facdd8;
}

.green-highlight {
  background-color: #c5e3d4;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 950px) {
  .tutorial-item-left,
  .tutorial-item-right {
    flex: 100%;
  }

  .box {
    padding: 10px;
    margin: 0;
  }
}
